<!-- Container (Sport centers view) -->
<div class="col-sm-12">
    
    <div id="centers" class="container-fluid text-center">
        <div class="row">
    
            <div id="hyllieView">
                  
                <div class="col-sm-6 functionField">
                  <h4>Hyllie Sportcenter</h4>
                  <!--<a [routerLink]="['/center-detail', center.centerId]">
                    {{ center.centerName }}
                  </a>-->
                  <img src="assets/images/squash_plan1.jpg" 
                        alt="Hyllie Sportcenter"
                        class="img-responsive center-block"
                        style="max-height:300px;padding-bottom:20px"/>
                </div>
                  
                </div>
    
            <div id=clubView>
                  
                <div class="col-sm-6 functionField">
                  <h4>The Club</h4>
                  <img src="assets/images/squash_plan2.jpg" 
                        alt="The Club"
                        class="img-responsive center-block"
                        style="max-height:300px;padding-bottom:20px"/>
                </div>
            </div>

            <div id=squash4View>
              
                <div class="col-sm-6 functionField">
                  <h4>Squash4You</h4>
                  <img src="assets/images/squash_plan3.jpg" 
                        alt="Squash4You"
                        class="img-responsive center-block"
                        style="max-height:300px;padding-bottom:20px"/>
                </div>
            </div>
        </div>
    </div>
</div>
    
              