

<div>
  
    <!-- Navbar section -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbarCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-left"><img style="max-width:110px; padding: 0px; margin-right: 15px; float:left; position:relative;"
                  src="assets/images/startRev.png"></span>
          <a class="navbar-brand">{{pageTitle}}</a><br>

        </div>
        <div class="collapse navbar-collapse navbarCollapse">
          <ul class='nav navbar-nav'>
            <li><a [routerLink]="['/welcome']">Home</a></li>
            <li><a [routerLink]="['/center-list']">Boka bana</a></li>
        </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrera</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
            <button type="button" class="btn btn-info navbar-btn" onclick="">Info</button>
          </ul>

        </div>
      </div>
    </nav>
    <div class='container'>
      <router-outlet></router-outlet>
    </div>
</div>

<!-- Info view -->
<div id="apphelp" class="apphelp alert alert-info alert-dismissible" style="display: none">
    <p>Den här appen </p>
    <p></p>
    <p></p>
    
    <p>Kontakta mig om du har frågor <a href="">beata_schmidt@outlook.com</a></p>
  </div>

